.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #238dca;
  }
  
  .error-indicator img {
    margin-bottom: 1rem;
    width: 70px;
  }
  
  .error-indicator .boom {
    font-size: 1.7rem;
  }